{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/d3.css" />
<link type="text/css" rel="stylesheet" href="/static/js/libs/leaflet/leaflet.css" />

<script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
<script src="/static/js/libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/js/libs/heatmap.js-2.0.5/build/heatmap.min.js"></script>
<script type="text/javascript" src="/static/js/libs/heatmap.js-2.0.5/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>


<div class="page-header">
  <h1>Sticky footer with fixed navbar</h1>
</div>

<div id='graphDiv'></div>
<script>
    var graphData = {{ data.chart_data | safe }}
</script>
<script type="text/javascript" src="/static/js/d3graph.js"></script>


<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>


<div id="map" style="height: 750px;"></div>
<script type="text/javascript" src="/static/js/leafmap.js"></script>
<script type="text/javascript" src="/static/js/heatmap.js"></script>



{% endblock %}
