<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% block stylesheets %}
        <link href="static/css/screen.css" rel="stylesheet" media="screen">
        <link href="static/css/print.css" rel="stylesheet" media="print">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
