
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
footer svg {
  vertical-align: -.125em;
  fill: currentColor;
  width: 30px;
  height: 30px;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
.standout {
  text-transform: uppercase;
	background: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}