{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.username(class_ = 'form-control mb-3 first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control mb-3', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control mb-3', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control mb-3 last-input', placeholder = form.confirm.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
    <p class="mt-3">Remember to initialize your database first!</p>
  </form>
{% endblock %}
